.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color:#333;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #212121
}

.main {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formButton {
  width: 22vw;
  height: 10vh;
  background-color: #AAAA;
  margin-top: 2vh;
}

.formTextBox {
  display: flex;
  margin-top: 2vh;
  width: 40vw;
  height: 500px;
  resize: none;
  background-color:darkgray;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #AAAAAA;
}

.result {
  display: flex;
  align-self: center;
  margin-top: 2vh;
  color: #AAAAAA;
}
